05_Comunidad_Importados/comunidad_drive_to_sheets.json
{
  "name": "Auto Invoice Processing",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of the Invoice .",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "The name of the client.",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "The email of the client.",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "The address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "The phone number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "The total amount.",
              "required": true
            },
            {
              "name": "Invoice Date",
              "description": "The date of the invoice was received.",
              "required": true
            },
            {
              "name": "Due Date",
              "description": "The date on which the invoice is due.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [624, 0],
      "id": "76ea4741-2ac3-4573-8cd1-b11df64fa599",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [560, 208],
      "id": "7d09ed30-079a-4c5e-bab7-40518a7d2847",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}"
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [976, 0],
      "id": "bef7a2a2-2cb2-4b46-9302-fee30e70bfd5",
      "name": "Update Database"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "id"
        },
        "event": "fileCreated"
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "403f21ac-7558-4428-8abd-8a7af8f1af69",
      "name": "New invoice"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [208, 0],
      "id": "bf585bb2-9d4f-47d9-9cec-c7606bf74d9f",
      "name": "Download Invoice"
    }
  ],
  "connections": {
    "New invoice": {
      "main": [[{ "node": "Download Invoice", "type": "main", "index": 0 }]]
    },
    "Download Invoice": {
      "main": [[{ "node": "Information Extractor", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "Information Extractor", "type": "ai_languageModel", "index": 0 }]]
    },
    "Information Extractor": {
      "main": [[{ "node": "Update Database", "type": "main", "index": 0 }]]
    }
  }
}
