02_Agente_Telegram/agente_telegram_pepito_backup.json
{"updatedAt":"2026-04-02T00:48:20.000Z","createdAt":"2026-04-01T23:41:39.592Z","id":"BD0kGowbl0SwOvC2","name":"agente_telegram_pepito","description":null,"active":false,"isArchived":false,"nodes":[{"id":"tg-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"updates":["message"],"additionalFields":{}},"credentials":{"telegramApi":{"id":"U7ukrjvC3nlt4VWu","name":"igris"}},"webhookId":"f7bdcaee-fbdb-466f-8b86-6553bc4ab692"},{"id":"if-photo","name":"¿Tiene foto?","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-photo","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"}}},{"id":"http-getfile","name":"Obtener ruta foto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,140],"parameters":{"method":"GET","url":"=/getFile","sendQuery":true,"queryParameters":{"parameters":[{"name":"file_id","value":"={{ $('Telegram Trigger').item.json.message.photo.slice(-1)[0].file_id }}"}]},"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"telegramApi"},"credentials":{"telegramApi":{"id":"U7ukrjvC3nlt4VWu","name":"igris"}}},{"id":"http-download","name":"Descargar imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,140],"parameters":{"method":"GET","url":"=/file/{{ $json.result.file_path }}","options":{"response":{"response":{"responseFormat":"file"}}},"authentication":"predefinedCredentialType","nodeCredentialType":"telegramApi"},"credentials":{"telegramApi":{"id":"U7ukrjvC3nlt4VWu","name":"igris"}}},{"id":"set-norm-foto","name":"Normalizar foto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,140],"parameters":{"mode":"manual","fields":{"values":[{"name":"chat_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"},{"name":"message_id","value":"={{ $('Telegram Trigger').item.json.message.message_id }}"},{"name":"user_text","value":"={{ $('Telegram Trigger').item.json.message.caption ?? 'Analiza esta imagen.' }}"},{"name":"has_image","type":"booleanValue","value":true},{"name":"first_name","value":"={{ $('Telegram Trigger').item.json.message.from.first_name ?? '' }}"}]},"options":{}}},{"id":"set-norm-texto","name":"Normalizar texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,460],"parameters":{"mode":"manual","fields":{"values":[{"name":"chat_id","value":"={{ $json.message.chat.id.toString() }}"},{"name":"message_id","value":"={{ $json.message.message_id }}"},{"name":"user_text","value":"={{ $json.message.text ?? $json.message.caption ?? '' }}"},{"name":"has_image","type":"booleanValue","value":false},{"name":"first_name","value":"={{ $json.message.from.first_name ?? '' }}"}]},"options":{}}},{"id":"code-context","name":"Construir contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300],"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\nconst binary = $input.item.binary || {};\nconst chat_id = item.chat_id;\nconst user_text = item.user_text;\nconst has_image = item.has_image;\nconst message_id = item.message_id;\nconst first_name = item.first_name || '';\nlet active_file_id = 'none', active_file_name = 'ninguno', active_sheet = 'Sheet1';\ntry {\n  const res = await $helpers.httpRequest({\n    method: 'GET',\n    url: 'https://xkxjocoaqtiaevjbdwhe.supabase.co/rest/v1/user_sessions?chat_id=eq.' + encodeURIComponent(chat_id) + '&select=*',\n    headers: { 'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhreGpvY29hcXRpYWV2amJkd2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwODI4MDEsImV4cCI6MjA5MDY1ODgwMX0.6-stczeYYby01g1qDUz8jh99GwtUTa2oxaWrkmncs3Y', 'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhreGpvY29hcXRpYWV2amJkd2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwODI4MDEsImV4cCI6MjA5MDY1ODgwMX0.6-stczeYYby01g1qDUz8jh99GwtUTa2oxaWrkmncs3Y' }\n  });\n  if (res && res.length > 0) {\n    active_file_id = res[0].active_file_id || 'none';\n    active_file_name = res[0].active_file_name || 'ninguno';\n    active_sheet = res[0].active_sheet || 'Sheet1';\n  }\n} catch(e) {}\nreturn { json: { chat_id, user_text, has_image, message_id, first_name, active_file_id, active_file_name, active_sheet }, binary };\n"}},{"id":"agent-pepito","name":"pepito","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1680,300],"parameters":{"promptType":"define","text":"={{ $json.user_text }}","options":{"systemMessage":"=Eres pepito, un asistente que ayuda a gestionar archivos de Google Sheets via Telegram.\n\nContexto del usuario:\n- Nombre: {{ $json.first_name }}\n- chat_id: {{ $json.chat_id }}\n- Archivo activo: {{ $json.active_file_name }} (ID: {{ $json.active_file_id }})\n- Hoja activa: {{ $json.active_sheet }}\n\nReglas:\n1. Si active_file_id es 'none', pregunta que archivo quiere usar y llama buscar_en_drive.\n2. Cuando el usuario elija un archivo, llama seleccionar_archivo para guardarlo.\n3. Para operaciones en Sheets, usa siempre el archivo activo.\n4. Presenta datos tabulares como tabla Markdown.\n5. Si has_image es true, describe la imagen y pregunta si quieren extraer datos.\n6. Respuestas concisas y en el mismo idioma del usuario.","maxIterations":10}}},{"id":"gemini-llm","name":"Gemini 2.5 Flash","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1440,520],"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{"temperature":0.3,"maxOutputTokens":2048}},"credentials":{"googlePalmApi":{"id":"nhdGIi2iSmQ98WZb","name":"Agentes"}}},{"id":"memory-buf","name":"Memoria conversacional","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1680,520],"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Construir contexto').item.json.chat_id }}","contextWindowLength":20}},{"id":"tool-drive","name":"buscar_en_drive","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1200,520],"parameters":{"name":"buscar_en_drive","description":"Busca archivos de Google Sheets/Excel en Drive. Usa cuando el usuario quiera abrir un archivo. Parametro: query (nombre o keyword del archivo).","method":"GET","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ \"name contains '\" + $fromAI('query','file name search term') + \"' and (mimeType='application/vnd.google-apps.spreadsheet' or mimeType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') and trashed=false\" }}"},{"name":"fields","value":"files(id,name,mimeType,modifiedTime)"},{"name":"pageSize","value":"10"}]},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"LVwJqMSuCFzUlEmH","name":"Google Drive account"}}},{"id":"tool-select","name":"seleccionar_archivo","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1200,700],"parameters":{"name":"seleccionar_archivo","description":"Guarda el archivo elegido como activo del usuario. Llamar cuando el usuario confirme que archivo quiere trabajar. Parametros: file_id (ID Drive), file_name (nombre), sheet_name (hoja, default Sheet1).","method":"POST","url":"https://xkxjocoaqtiaevjbdwhe.supabase.co/rest/v1/user_sessions?on_conflict=chat_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhreGpvY29hcXRpYWV2amJkd2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwODI4MDEsImV4cCI6MjA5MDY1ODgwMX0.6-stczeYYby01g1qDUz8jh99GwtUTa2oxaWrkmncs3Y"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhreGpvY29hcXRpYWV2amJkd2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwODI4MDEsImV4cCI6MjA5MDY1ODgwMX0.6-stczeYYby01g1qDUz8jh99GwtUTa2oxaWrkmncs3Y"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({chat_id: $('Construir contexto').item.json.chat_id, active_file_id: $fromAI('file_id','Drive file ID'), active_file_name: $fromAI('file_name','readable file name'), active_sheet: $fromAI('sheet_name','sheet tab name','Sheet1')}) }}","options":{}}},{"id":"tool-read","name":"leer_filas","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1440,700],"parameters":{"name":"leer_filas","description":"Lee filas de la hoja activa. Parametro: range (rango a leer, ej A1:Z100. Si no se especifica lee toda la hoja).","method":"GET","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Construir contexto').item.json.active_file_id }}/values/{{ $('Construir contexto').item.json.active_sheet }}!{{ $fromAI('range','cell range like A1:Z100','A:Z') }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"li83jfVpHm2alq4W","name":"Google Sheets account"}}},{"id":"tool-write","name":"escribir_fila","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1680,700],"parameters":{"name":"escribir_fila","description":"Agrega una nueva fila al final de la hoja activa. Parametro: values (array de valores, ej: ['Juan','juan@mail.com','100']).","method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Construir contexto').item.json.active_file_id }}/values/{{ $('Construir contexto').item.json.active_sheet }}!A1:append","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"valueInputOption","value":"USER_ENTERED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({values: [$fromAI('values','array of cell values for the new row')]}) }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"li83jfVpHm2alq4W","name":"Google Sheets account"}}},{"id":"tool-edit","name":"editar_celda","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1920,520],"parameters":{"name":"editar_celda","description":"Edita una celda especifica o escribe una formula. Parametros: cell (ej B3), value (valor o formula, ej =SUM(B1:B10)).","method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Construir contexto').item.json.active_file_id }}/values/{{ $('Construir contexto').item.json.active_sheet }}!{{ $fromAI('cell','cell reference like B3') }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"valueInputOption","value":"USER_ENTERED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({values: [[$fromAI('value','cell value or formula')]]}) }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"li83jfVpHm2alq4W","name":"Google Sheets account"}}},{"id":"tool-addcol","name":"agregar_columna","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1920,700],"parameters":{"name":"agregar_columna","description":"Agrega un encabezado a una columna nueva en la fila 1. Parametros: column_letter (ej E), header_name (texto del encabezado).","method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Construir contexto').item.json.active_file_id }}/values/{{ $('Construir contexto').item.json.active_sheet }}!{{ $fromAI('column_letter','column letter like E') }}1","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"valueInputOption","value":"USER_ENTERED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({values: [[$fromAI('header_name','column header text')]]}) }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"li83jfVpHm2alq4W","name":"Google Sheets account"}}},{"id":"tg-send","name":"Responder por Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1920,300],"parameters":{"operation":"sendMessage","chatId":"={{ $('Construir contexto').item.json.chat_id }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"Markdown"}},"credentials":{"telegramApi":{"id":"U7ukrjvC3nlt4VWu","name":"igris"}},"webhookId":"cf300e83-bb67-4bde-9543-efa9379cd573"}],"connections":{"Telegram Trigger":{"main":[[{"node":"¿Tiene foto?","type":"main","index":0}]]},"¿Tiene foto?":{"main":[[{"node":"Obtener ruta foto","type":"main","index":0}],[{"node":"Normalizar texto","type":"main","index":0}]]},"Obtener ruta foto":{"main":[[{"node":"Descargar imagen","type":"main","index":0}]]},"Descargar imagen":{"main":[[{"node":"Normalizar foto","type":"main","index":0}]]},"Normalizar foto":{"main":[[{"node":"Construir contexto","type":"main","index":0}]]},"Normalizar texto":{"main":[[{"node":"Construir contexto","type":"main","index":0}]]},"Construir contexto":{"main":[[{"node":"pepito","type":"main","index":0}]]},"Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"pepito","type":"ai_languageModel","index":0}]]},"Memoria conversacional":{"ai_memory":[[{"node":"pepito","type":"ai_memory","index":0}]]},"buscar_en_drive":{"ai_tool":[[{"node":"pepito","type":"ai_tool","index":0}]]},"seleccionar_archivo":{"ai_tool":[[{"node":"pepito","type":"ai_tool","index":0}]]},"leer_filas":{"ai_tool":[[{"node":"pepito","type":"ai_tool","index":0}]]},"escribir_fila":{"ai_tool":[[{"node":"pepito","type":"ai_tool","index":0}]]},"editar_celda":{"ai_tool":[[{"node":"pepito","type":"ai_tool","index":0}]]},"agregar_columna":{"ai_tool":[[{"node":"pepito","type":"ai_tool","index":0}]]},"pepito":{"main":[[{"node":"Responder por Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fb2cc851-9688-4d8e-9fe9-b1c3bdd4f464","activeVersionId":null,"versionCounter":7,"triggerCount":0,"shared":[{"updatedAt":"2026-04-01T23:41:39.597Z","createdAt":"2026-04-01T23:41:39.597Z","role":"workflow:owner","workflowId":"BD0kGowbl0SwOvC2","projectId":"DcWf3o5IGdpobLiE","project":{"updatedAt":"2026-02-28T15:49:51.655Z","createdAt":"2026-02-28T15:46:32.372Z","id":"DcWf3o5IGdpobLiE","name":"wuilfredo cortez <wuil3529@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"71c61455-5d50-4d63-aef2-1e85b5c83f06"}}],"tags":[],"activeVersion":null}